# Ignore Python virtual environment and cache
venv/
__pycache__/

# Ignore environment variable files
.env

# Ignore system files
.DS_Store

# Ignore Streamlit configuration files
.streamlit/

# Ignore big chroma database directory
chroma_db_25k/